<mat-accordion *ngIf="posts.length > 0">
    <mat-expansion-panel 
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false" 
        *ngFor="let item of posts">
        <mat-expansion-panel-header>
        <mat-panel-title>
            {{ item.title }}
        </mat-panel-title>
        <mat-panel-description>
            {{ item.content }}
        </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">EDIT</button>
            <button mat-button color="warn" (click)="nextStep()">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p>
